@use "@/app/styles/mixins.scss" as mixins;
@use "@/app/styles/variables.scss" as vars;
@use "sass:color";

.courses {
  padding: 30px 0;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  min-height: 970px;
  color: var(--font-color-1);
  flex-wrap: wrap;

  &__filter {
    @include mixins.container($border: 30px, $padding: 30px);
    width: 200px;
    flex: 3;

    @media (max-width: 768px) {
      width: 100%;
      display: none;
      &.visible {
        display: block;
      }
    }
  }

  &__content {
    flex: 10;
    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__mobile-toggle {
    display: none;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__toggle-button {
    background-color: vars.$color-primary;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    position: absolute;
    top: 45px;
    right: 10px;

    &:hover {
      background-color: color.scale(vars.$color-primary, $lightness: -10%);
    }
  }
}
