.learning {
  &__title {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 32px;
  }
  &__subtitle {
    margin-bottom: 16px;
  }
  &__section {
    margin-bottom: 32px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
