@use "@/app/styles/mixins.scss" as mixins;
@use "@/app/styles/variables.scss" as vars;
@use "sass:color";

.advantage {
  max-width: 1520px;
  margin: 0 auto;
  &__list {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    flex: 1;
    @include mixins.container($padding: 30px);
    position: relative;
  }
  &__icon {
    font-size: 50px;
    &-wrapper {
      background-color: rgba(vars.$color-primary, 0.5);
      padding: 10px;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 10px;
      transform: translate(-50%, -50%);
      line-height: 0;
    }
  }
}
@media screen and (max-width: 800px) {
  .advantage {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
