@use "sass:color" as color;
@use "@/styles/mixins.scss" as mixins;
@use "@/styles/variables.scss" as vars;

.search {
  @include mixins.container(
    $padding: 15px 20px,
    $gap: 10px,
    $flex: row,
    $border: 40px
  );
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  &__suggestions {
    @include mixins.container($padding: 20px 10px, $gap: 10px, $border: 23px);
    list-style: none;
    position: absolute;
    z-index: 9;
    padding-top: 60px;
    background-color: var(--color-container-block);
    width: calc(100% - 133px);
    border: 1px solid color.mix(vars.$color-primary, transparent, 100%);
    &-item {
      font-size: 16px;
      padding: 10px 15px;
      border-radius: 20px;
      &:hover {
        background-color: color.mix(vars.$color-primary, transparent, 30%);
      }
    }
  }
}
