@use "@/app/styles/mixins.scss" as mixins;
@use "@/app/styles/variables.scss" as vars;

.sign-in {
  color: var(--font-color-1);
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__container {
    @include mixins.containerProfile($padding: 50px);
    max-width: 500px;
    margin: 100px auto;
  }

  &__footer {
    text-align: center;
    margin-top: 20px;
    &-link {
      color: vars.$color-button;
    }
  }
}
