.profile {
  padding: 30px;
  &__title {
    margin-bottom: 32px;
  }
  &__section-title {
    margin-bottom: 16px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
