.heading {
  width: 100%;
  font-weight: 300;
  color: var(--font-color-1);
}

.heading--align-start {
  text-align: left;
}

.heading--align-center {
  text-align: center;
}

.heading--align-end {
  text-align: right;
}

.heading--size-1 {
  font-size: 30px;
}

.heading--size-2 {
  font-size: 24px;
}

.heading--size-3 {
  font-size: 20px;
}

.heading--size-4 {
  font-size: 18px;
}

.heading--size-5 {
  font-size: 16px;
}

.heading--size-6 {
  font-size: 1rem;
}
